<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit2cloud.dao.mapper.ComplianceScanResultMapper">
    <resultMap id="ComplianceScanResponseMap"
               type="com.fit2cloud.controller.response.compliance_scan_result.ComplianceScanResultResponse">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="name" property="name"/>
        <result column="platform" property="platform"/>
        <result column="resource_type" property="resourceType"/>
        <result column="risk_level" property="riskLevel"/>
        <result column="scan_status" property="scanStatus"/>
        <result column="compliance_count" property="complianceCount"/>
        <result column="not_compliance_count" property="notComplianceCount"/>
        <result column="description" property="description"></result>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <select id="page" resultMap="ComplianceScanResponseMap">
        SELECT
        compliance_rule.*,
        IFNULL(compliance_scan_result.compliance_count, 0) AS compliance_count,
        IFNULL(compliance_scan_result.not_compliance_count,0) AS not_compliance_count,
        IFNULL(compliance_scan_result.`status`,1) as scan_status
        FROM
        compliance_rule compliance_rule
        LEFT JOIN (
        SELECT
        compliance_rule_id,
        SUM(compliance_count) AS compliance_count,
        SUM(not_compliance_count) AS not_compliance_count,
        SUM(resource_count) AS resource_count,
        IF(FIND_IN_SET(2,GROUP_CONCAT(`status`)),2,1) as `status`,
        GROUP_CONCAT(cloud_account_id) as cloud_account_id
        FROM
        compliance_scan_result
        <where>
            <if test="cloudAccountId != null">
                cloud_account_id=#{cloudAccountId}
            </if>
        </where>
        GROUP BY
        compliance_rule_id
        ) compliance_scan_result ON compliance_scan_result.compliance_rule_id = compliance_rule.id
        ${ew.customSqlSegment}
    </select>

    <select id="list" resultMap="ComplianceScanResponseMap">
        SELECT
        compliance_rule.*,
        IFNULL(compliance_scan_result.compliance_count, 0) AS compliance_count,
        IFNULL(compliance_scan_result.not_compliance_count,0) AS not_compliance_count,
        IFNULL(compliance_scan_result.`status`,1) as scan_status
        FROM
        compliance_rule compliance_rule
        LEFT JOIN (
        SELECT
        compliance_rule_id,
        SUM(compliance_count) AS compliance_count,
        SUM(not_compliance_count) AS not_compliance_count,
        SUM(resource_count) AS resource_count,
        IF(FIND_IN_SET(2,GROUP_CONCAT(`status`)),2,1) as `status`,
        GROUP_CONCAT(cloud_account_id) as cloud_account_id
        FROM
        compliance_scan_result
        <where>
            <if test="cloudAccountId != null">
                cloud_account_id=#{cloudAccountId}
            </if>
        </where>
        GROUP BY
        compliance_rule_id
        ) compliance_scan_result ON compliance_scan_result.compliance_rule_id = compliance_rule.id
        ${ew.customSqlSegment}
    </select>
    <select id="group" resultType="com.fit2cloud.dao.entity.ComplianceGroup">
        SELECT
        SUM(
        IF
        ( t1.`not_compliance_count` = 0, 1, 0 )) AS compliance_count,
        SUM(
        IF
        ( t1.`not_compliance_count` >= 1, 1, 0 )) AS not_compliance_count,
        t1.`key` AS `key`
        FROM
        (
        SELECT
        SUM( compliance_scan_resource_result.`status` ) AS a,
        SUM(
        IF
        ( compliance_scan_resource_result.`status` = 1, 1, 0 )) AS compliance_count,
        SUM(
        IF
        ( compliance_scan_resource_result.`status` = 2, 1, 0 )) AS not_compliance_count
        <if test="groupType=='CLOUD_ACCOUNT'">
            , compliance_scan_resource_result.cloud_account_id as `key`
        </if>
        <if test="groupType=='RESOURCE_TYPE'">
            , compliance_scan_resource_result.resource_type as `key`
        </if>
        <if test="groupType=='RULE_GROUP'">
            , compliance_rule.rule_group_id as `key`
        </if>
        <if test="groupType=='RULE'">
            , compliance_rule.id as `key`
        </if>
        FROM
        compliance_scan_resource_result compliance_scan_resource_result
        LEFT JOIN compliance_rule compliance_rule ON compliance_rule.id =
        compliance_scan_resource_result.compliance_rule_id
        ${ew.customSqlSegment}
        <if test="groupType=='CLOUD_ACCOUNT'">
            GROUP BY
            compliance_scan_resource_result.resource_instance_id,
            compliance_scan_resource_result.cloud_account_id
        </if>
        <if test="groupType=='RESOURCE_TYPE'">
            GROUP BY
            compliance_scan_resource_result.resource_instance_id,
            compliance_scan_resource_result.resource_type
        </if>
        <if test="groupType=='RULE_GROUP'">
            GROUP BY
            compliance_scan_resource_result.resource_instance_id,
            compliance_rule.rule_group_id
        </if>
        <if test="groupType=='RULE'">
            GROUP BY
            compliance_scan_resource_result.resource_instance_id,
            compliance_rule.id
        </if>
        ) t1
        GROUP BY
        t1.`key`
    </select>
    <select id="count" resultType="com.fit2cloud.dao.entity.ComplianceCount">
        SELECT COUNT(*) AS total,
               IFNULL(
                       SUM(
                               IF
                                   (t1.`not_compliance_count` = 0, 1, 0)),
                       0
                   )    AS compliance_count,
               IFNULL(
                       SUM(
                               IF
                                   (t1.`not_compliance_count` >= 1, 1, 0)),
                       0
                   )    AS not_compliance_count
        FROM (SELECT SUM(compliance_scan_resource_result.`status`)                     AS a,
                     SUM(
                             IF
                                 (compliance_scan_resource_result.`status` = 1, 1, 0)) AS compliance_count,
                     SUM(
                             IF
                                 (compliance_scan_resource_result.`status` = 2, 1, 0)) AS not_compliance_count,
                     compliance_scan_resource_result.cloud_account_id                  AS `key`
              FROM compliance_scan_resource_result compliance_scan_resource_result
                       LEFT JOIN compliance_rule compliance_rule
                                 ON compliance_rule.id = compliance_scan_resource_result.compliance_rule_id
                  ${ew.customSqlSegment}
              GROUP BY
                  compliance_scan_resource_result.resource_instance_id) t1
    </select>
    <select id="ruleCount" resultType="com.fit2cloud.dao.entity.ComplianceRuleCount">
        SELECT risk_level                      as risk_level,
               COUNT(*)                        AS total,
               SUM(IF(tmp.`status` = 1, 1, 0)) AS compliance_count,
               SUM(IF(tmp.`status` = 2, 1, 0)) AS not_compliance_count
        FROM (SELECT MAX(
                             compliance_scan_result.`status`
                         )                      AS `status`,
                     compliance_rule.risk_level as risk_level
              FROM compliance_rule compliance_rule
                       LEFT JOIN compliance_scan_result compliance_scan_result
                                 ON compliance_scan_result.compliance_rule_id = compliance_rule.id
                  ${ew.customSqlSegment}
              GROUP BY
                  compliance_rule.id,
                  compliance_rule.risk_level) tmp
        GROUP BY tmp.risk_level
    </select>
</mapper>
