:root{
    --ce-main-breadcrumb-height:56px;
    --ce-main-breadcrumb-margin-left:30px;
    --ce-main-content-margin-top:10px;
    --ce-main-content-margin-left:30px;
    --ce-main-content-margin-right:30px;
    --ce-main-content-margin-bottom:30px;
    --ce-main-content-padding-top:30px;
    --ce-main-content-padding-left:30px;
    --ce-main-content-padding-right:30px;
    --ce-main-content-padding-bottom:30px;
    --ce-main-content-bg-color:#fff;
    --ce-main-content-border-radius:10px;
}