:root{
   --ce-menu-icon-size:14px;
   --ce-menu-icon-width:30px;
   --ce-star-menu-icon-width:18px;
    --ce-star-menu-width:50px;
    --ce-star-menu-bg-color:#fff;
    --ce-star-menu-hover-width:200px;
    --ce-star-menu-hover-bg-color:#dcdfe3;
    --ce-star-menu-active-bg-color: var(--el-menu-hover-bg-color);
    --ce-star-menu-active-icon-color:var(--el-color-primary);
    --ce-star-menu-border-color:#dcdfe3;
    --ce-star-menu-item-height:40px;
    --ce-star-menu-item-icon-size:30px;
    --ce-menu-collapse-bg-color:#dcdfe3;
    --ce-collect-menu-bg-color:#fff;
    --ce-collect-menu-color:#000;
    --el-menu-item-height:50px
}