:root{
    --ce-table-header-height:56px;
    --ce-table-bg-color:#fff;
    --ce-table-padding:30px;
    --ce-table-margin:30px;
    --ce-table-margin-top:10px;
    --ce-table-margin-bottom:30px;
    --ce-table-margin-left:30px;
    --ce-table-margin-right:30px;
}