<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit2cloud.dao.mapper.CloudAccountMapper">
   <resultMap id="BaseResultMap" type="com.fit2cloud.dao.entity.CloudAccount">
       <id column="id" property="id" />
       <result column="name" property="name"/>
       <result column="credential" property="credential" typeHandler="com.fit2cloud.dao.handler.CredentialTypeHandler"/>
       <result column="platform" property="platform"  />
       <result column="create_time" property="createTime"  />
       <result column="update_time" property="updateTime"  />
   </resultMap>

    <resultMap id="AccountJobRecordMap" type="com.fit2cloud.response.cloud_account.AccountJobRecordResponse">
        <result column="account_id" jdbcType="VARCHAR" property="accountId"/>
        <result column="job_record_id" jdbcType="VARCHAR" property="jobRecordId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="params" jdbcType="VARCHAR" property="params"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="update_time" jdbcType="DATE" property="updateTime"/>
    </resultMap>

    <resultMap id="CloudPageResultMap" type="com.fit2cloud.controller.response.cloud_account.CloudAccountResponse">
        <id column="id" property="id" />
        <result column="name" property="name"/>
        <result column="credential" property="credential" typeHandler="com.fit2cloud.dao.handler.CredentialTypeHandler"/>
        <result column="platform" property="platform"  />
        <result column="state" property="state"  />
        <result column="status" property="status"  />
        <result column="bill_setting" property="billSetting" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"></result>
        <result column="create_time" property="createTime"  />
        <result column="update_time" property="updateTime"  />
    </resultMap>

    <select id="pageCloudAccount" resultMap="CloudPageResultMap">
        SELECT
            *
        FROM
            (
                SELECT
                    a.*,
                    IF
                        (
                            t1.`status` IS NULL,-1,
                            t1.`status`
                        ) AS `status`
                FROM
                    cloud_account a
                        LEFT JOIN (
                        SELECT
                            account_id,
                            IF
                                (
                                        SUM( `status` )= 0,
                                        0,
                                        IF
                                            (
                                                    GROUP_CONCAT( `status` ) LIKE '%1%',
                                                    1,
                                                    IF
                                                        ( GROUP_CONCAT( `status` ) LIKE '%2%', 2,- 1 ))) AS `status`
                        FROM
                            (
                                SELECT
                                    a.account_id,
                                    j.`status`
                                FROM
                                    account_job a
                                        LEFT JOIN job_record j ON a.job_record_id = j.id
                                        RIGHT JOIN (
                                        SELECT
                                            MAX( aj.create_time ) AS create_time,
                                            account_id,
                                            description
                                        FROM
                                            account_job aj
                                                LEFT JOIN job_record jr ON aj.job_record_id = jr.id
                                        GROUP BY
                                            aj.account_id,
                                            jr.description
                                    ) t1 ON t1.account_id = a.account_id
                                        AND t1.create_time = a.create_time
                                        AND t1.description = j.description
                                        AND t1.account_id = a.account_id
                                ORDER BY
                                    j.description
                            ) js
                        GROUP BY
                            account_id
                    ) t1 ON t1.account_id = a.id
            ) a
            ${ew.customSqlSegment}
    </select>

    <select id="pageSyncRecord" resultMap="AccountJobRecordMap">
        SELECT * FROM (
            SELECT
                account_job.account_id,
                account_job.job_record_id,
                job_record.type,
                job_record.`status`,
                job_record.description,
                job_record.params,
                job_record.create_time,
                job_record.update_time
            FROM
                account_job,
                job_record
            WHERE
                account_job.job_record_id = job_record.id
            ORDER BY create_time desc,description)
        job_record_info
        ${ew.customSqlSegment}
    </select>
</mapper>
