@font-face {
  font-family: "iconfont"; /* Project id 2910266 */
  src: url('iconfont.woff2?t=1659970491506') format('woff2'),
       url('iconfont.woff?t=1659970491506') format('woff'),
       url('iconfont.ttf?t=1659970491506') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ali-iconguanyu:before {
  content: "\e7e8";
}

.ali-iconshezhi:before {
  content: "\e70f";
}

.ali-iconxitongmokuai:before {
  content: "\e619";
}

.ali-iconzhuanxierizhi:before {
  content: "\e609";
}

.ali-iconxianshi:before {
  content: "\e62a";
}

.ali-iconzhedie5:before {
  content: "\e649";
}

.ali-iconzhedie6:before {
  content: "\e64b";
}

.ali-iconjiaoseguanli:before {
  content: "\e66a";
}

.ali-iconzuzhiguanli:before {
  content: "\e60b";
}

.ali-iconyonghuguanli:before {
  content: "\e622";
}

.ali-iconguizeguanlizuhu:before {
  content: "\e64a";
}

.ali-icongongzuokongjian:before {
  content: "\ee26";
}

.ali-iconcorporate_fare:before {
  content: "\e745";
}

.ali-iconguanlizhongxin:before {
  content: "\e670";
}

.ali-iconxiaoxi:before {
  content: "\e62f";
}

.ali-iconservice-directory:before {
  content: "\e661";
}

.ali-iconziyuan1452:before {
  content: "\e629";
}

.ali-iconyidongshu:before {
  content: "\e646";
}

.ali-iconyingyongzhongxin:before {
  content: "\e603";
}

.ali-iconyunzhuji:before {
  content: "\e67e";
}

.ali-iconanquanrenzheng:before {
  content: "\100d7";
}

.ali-icondaVrenzheng:before {
  content: "\100d8";
}

.ali-iconguanfangrenzheng:before {
  content: "\100d9";
}

.ali-iconxuniji:before {
  content: "\ea6b";
}

.ali-iconwangluo:before {
  content: "\e62e";
}

.ali-iconfenxi:before {
  content: "\e668";
}

.ali-iconfeiyongkemu:before {
  content: "\e611";
}

.ali-icondatabase:before {
  content: "\e940";
}

.ali-iconfuzaijunheng:before {
  content: "\e67c";
}

.ali-iconquanbu:before {
  content: "\e602";
}

.ali-iconshangyiyehoutuifanhui:before {
  content: "\e8ef";
}

.ali-iconxiayiyeqianjinchakangengduo:before {
  content: "\e8f1";
}

.ali-iconziyuanxhdpi:before {
  content: "\e648";
}

.ali-iconshangyiye:before {
  content: "\e65b";
}

.ali-iconshangyiye1:before {
  content: "\e70a";
}

.ali-icongoldcup:before {
  content: "\e621";
}

.ali-icontuoyuan:before {
  content: "\e600";
}

.ali-iconjindouyun:before {
  content: "\e601";
}

