:root{
    --ce-header-height:60px;
    --ce-header-padding:0 20px;
    --ce-header-bg-color:#409eff;
    --ce-star-menu-width:50px;
    --ce-star-menu-bg-color:#fff;
    --ce-star-menu-hover-width:200px;
    --ce-star-menu-hover-bg-color:#dcdfe3;
    --ce-star-menu-active-bg-color:#dcdfe3;
    --ce-star-menu-active-icon-color:var(--el-color-primary-dark-2);
    --ce-star-menu-border-color:#dcdfe3;
    --ce-star-menu-item-height:40px;
    --ce-star-menu-item-icon-size:30px;
    --ce-menu-collapse-bg-color:#dcdfe3;
}
